<!-- Page Content -->
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-2">
        <img class="logo" src="/assets/logo.png" />
      </div>
      <div class="col-lg-10">
        <h1 class="display-4 text-white mt-5 mb-2">SHOW TECH | ECOMMERCE</h1>
        <p id="slogan" class="lead mb-5 text-white">Você mais Tech como nunca! Tudo o que você precisa num só lugar.</p>
      </div>
    </div>
  </div>
</header>

<div class="container main-container">
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/crossplat.jpg" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">Multiplataforma</h4>
          <p class="card-text">Desenvolvimento multiplataforma ou cross-plataform, é um único código-fonte compilado em código nativo de sistemas operacionais diferentes. Isso significa que a solução desenvolvida funcionará perfeitamente em sistemas Windows, Android, iOS e Cloud por exemplo.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/performance.jpg" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">Performance</h4>
          <p class="card-text">Performance digital no e-commerce para resultados que uma empresa e-commerce como a sua possa obter após a aplicação de estratégias de Marketing de Performance. Aumento do número de leads, da conversão de vendas e do Ticket Médio, além da melhoria do Retorno do Investimento.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/produtividade.jpg" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">Produtividade</h4>
          <p class="card-text">A produtividade é um desafio diário de gestores e de toda a equipe de marketing digital. Registrar o esforço e analisar indicadores é o ponto de partida para entender a situação e promover melhorias. A performance e a produtividade devem ser analisadas em conjunto, pois não adianta produzir mais sem qualidade.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="/assets/full_dev.jpg" height="164px" width="253px" alt="">
        <div class="card-body">
          <h4 class="card-title">Funcionalidades</h4>
          <p class="card-text">Implementação de funcionalidades nativas e capacidade de integração com outras soluções de mercado,  contribuindo para a criação de experiências digitais excepcionais. Um portal pode ser encarado como a estratégia central para a geração de novos negócios, comunicação direta com o seu público.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fim Content -->
